{% extends 'base.html.twig' %}

{% block title %}Admin Inventaires{% endblock %}

{% block body %}
<div class ="container">
    <h1>Administration des inventaires</h1>
    <h5>liste l'ensemble des inventaires</h5>

    <table class="table">
        <thead>
            <tr>
                {# <th>Inventaire</th> #}
                <th>Inventaire Station</th>
                <th>Réalisé le</th>
                {# <th>UpdatedAt</th> #}
                <th>Inventaire</th>
            </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
            <tr>
                {# <td><a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">N° {{ inventory.id }}</a></td> #}
                <td><a href="{{ path('app_station_show', {'id': inventory.station.id}) }}">{{ inventory.station.name }}</a></td>
                <td>{{ inventory.createdAt ? inventory.createdAt|date('d/m/Y à H:i') : '' }}</td>
                {# <td>{{ inventory.updatedAt ? inventory.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">Afficher</a>
                    <div class="vr"></div>
                    <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19"><div class="alert alert-danger" role="alert">
                Pas d'enregistrement d'inventaire en Base de Données !
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_inventory_new') }}"><button class="btn btn-lg btn-primary" type="submit">Créer un nouvel inventaire</button></a>
    </div>
{% endblock %}
