<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>  {# Bouton home à styliser #}
    
    <!-- burger button -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse collapsed" id="navbarSupportedContent"><!-- nav content start -->   
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"><!-- nav items start -->
  
<div class="dropdown show">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuLink_admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a class="dropdown-item" href="{{ path('app_station_index') }}">Admin Stations</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_bike_index') }}">Admin Vélos</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_repair_index') }}">Admin Reparations</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_balance_index') }}">Admin Equilibrages</a>
  </div>

</div>

<div class="dropdown show">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuLink_worker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tournée</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a class="dropdown-item" href="{{ path('app_repair_act_new') }}">Réparations</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_inventory_new') }}">Inventaires</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_balance_new') }}">Equilibrage</a>
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_vandalism_new') }}">Vandalismes</a>
  </div>
</div>

      </ul><!-- nav items end --> 
    </div><!-- nav content end --> 
  </div><!-- container end -->
</nav>
