{% extends 'base.html.twig' %}

{% block title %}Balance index{% endblock %}

{% block body %}
    <h1>Balance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for balance in balances %}
            <tr>
                <td>{{ balance.id }}</td>
                <td>{{ balance.createdAt ? balance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ balance.updatedAt ? balance.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ balance.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_balance_show', {'id': balance.id}) }}">show</a>
                    <a href="{{ path('app_balance_edit', {'id': balance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_balance_new') }}">Create new</a>
{% endblock %}
