{% extends 'base.html.twig' %}

{% block title %}Equilibrage {{ balance.id }}{% endblock %}

{% block body %}
<div class="container"> 
 <h1>Fiche équilibrage {{ balance.id }}</h1>
    <table class="table">

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Vélo</th>
                <th>Enlevé</th>
                <th>Déposé</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ balance.createdAt ? balance.createdAt|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ balance.bike.number }}</td>

                {% for station in balance.stations %}
                <td>{{ station.name }}</td>
                {% endfor %}
        </tbody>
</table>

    <a href="{{ path('app_balance_edit', {'id': balance.id}) }}"><button class="btn btn-lg btn-success" type="submit">Modifier équilibrage</button></a>
    <a href="{{ path('app_balance_index') }}"><button class="btn btn-lg btn-primary" type="submit">Liste équilibrages</button></a>
    {{ include('balance/_delete_form.html.twig') }}
</div>
{% endblock %}
