{% extends 'base.html.twig' %}
{% block title %}Admin Vandalismes{% endblock %}

{% block body %}

<div class="container">
    <h1>liste des vandalismes</h1>
    <h2>{{ vandalisms|length }} - vandalismes constatés</h2>
    <ul>
    {% for vandalism in vandalisms %}
        <li class='my-3 py-1 px-1 py-2 text-white bg-secondary'>Le {{ vandalism.createdAt|date("d/m/Y") }}</li>
        <li class='mt-3'> 
            {{ vandalism.content | slice(0, 120) ~ "..." }} <a href="{{ path('app_vandalism_show', {'id': vandalism.id}) }}">Afficher</a>
            <div class="vr"></div>
            <a href="{{ path('app_vandalism_edit', {'id': vandalism.id}) }}">Modifier</a>
        </li>
        {% if vandalism.mainPicture %}
        <hr>
        {# <img src = "{{ asset('uploads/main_pictures/' ~ vandalism.mainPicture) }}" style="width: 150px%; height: 150px; object-fit: cover" alt="photographie de la station montrant un vélo vandalisé"> #}
        <img src = "{{ vandalism.mainPicture }}" style="width: 150px%; height: 150px; object-fit: cover" alt="photographie de la station montrant un vélo vandalisé">
        <hr>
        {% endif %}
        {% else %}
        <tr>
            <td colspan="19"><div class="alert alert-danger" role="alert">
            Pas d'enregistrement de vadalimes en Base de Données !
            </td>
        </tr>
    {% endfor %}
    </ul>
    <hr>
     <a href="{{ path('app_vandalism_new') }}"><button class="btn btn-lg btn-primary" type="submit">Signaler un vandalime</button></a>
</div>
{% endblock %}
