{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.name) }}      
    {{ form_row(form.shortDescription) }}      
    {{ form_row(form.longDescription) }}
    {{ form_row(form.status) }}
    <hr>
    <button class="btn btn-lg btn-success" type="submit">Enregistrer l'intervention</button>
{{ form_end(form) }}