{% extends 'base.html.twig' %}

{% block title %}Admin Réparations{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Administration des réparations</h1>
    <h5>liste l'ensemble des réparations</h5>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Statut</th>
                <th>Reference</th>
                <th>Nom</th>
                {# <th>ShortDescription</th> #}
                {# <th>LongDescription</th> #}
                {# <th>Slug</th> #}
                {# <th>CreatedAt</th> #}
                {# <th>UpdatedAt</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                {# <td>{{ repair.id }}</td> #}
                <td>{{ repair.status ? 'Active' : 'Archive' }}</td>
                <td>{{ repair.reference }}</td>
                <td>{{ repair.name }}</td>
                {# <td>{{ repair.shortDescription }}</td> #}
                {# <td>{{ repair.longDescription }}</td> #}
                {# <td>{{ repair.slug }}</td> #}
                {# <td>{{ repair.createdAt ? repair.createdAt|date("d/m/Y") : '' }}</td> #}
                {# <td>{{ repair.updatedAt ? repair.updatedAt|date("d/m/Y") : '' }}</td> #}
                <td>
                    <a href="{{ path('app_repair_show', {'id': repair.id}) }}">Afficher</a>
                    <div class="vr"></div>
                    <a href="{{ path('app_repair_edit', {'id': repair.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19"><div class="alert alert-danger" role="alert">
                Pas d'enregistrement de réparation en Base de Données !
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_repair_new') }}"><button class="btn btn-lg btn-primary" type="submit">Créer une nouvelle réparation</button></a>
</div>
{% endblock %}
