{% extends 'base.html.twig' %}

{% block title %}Modifier l'intervention {{ repair_act.id }}{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Modifier la déclaration d'intervention - {{ repair_act.id }}</h1>
    {{ include('repair_act/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_repair_act_index') }}"><button class="btn btn-lg btn-primary" type="submit">Retour à la liste des interventions</button></a>
    <hr>
    {{ include('repair_act/_delete_form.html.twig') }}
{% endblock %}
