{% extends 'base.html.twig' %}

{% block title %}Liste interventions effectuées{% endblock %}

{% block body %}

<div class ="container">
    <h1>Interventions effectuées</h1>
    <h2>{{ repair_acts|length }} - interventions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Intervention</th>
                <th>Station</th>
                <th>N° Vélo</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for repair_act in repair_acts %}
            <tr>
                <td><a href="{{ path('app_station_show', {'id': repair_act.repair.id}) }}">{{ repair_act.repair.name }}</a></td>
                <td><a href="{{ path('app_station_show', {'id': repair_act.station.id}) }}">{{ repair_act.station.name }}</a></td>
                <td><a href="{{ path('app_bike_show', {'id': repair_act.bike.id}) }}">{{ repair_act.bike.number }}</a></td>
                <td>{{ repair_act.createdAt ? repair_act.createdAt|date('d/m/Y à H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_repair_act_show', {'id': repair_act.id}) }}">Afficher</a>
                    <div class="vr"></div>
                    <a href="{{ path('app_repair_act_edit', {'id': repair_act.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19"><div class="alert alert-danger" role="alert">
                Pas d'interventions en Base de Données !
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_repair_act_new') }}"><button class="btn btn-lg btn-primary" type="submit">Déclarer une interventions</button></a>
<div>
{% endblock %}

