{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.number) }}      
    {{ form_row(form.rate) }} 
    {{ form_row(form.availablity) }}     
    {{ form_row(form.status) }}     
    <hr>
    <button class="btn btn-lg btn-success" type="submit">Enregistrer le vélo</button>
{{ form_end(form) }}
