{% extends 'base.html.twig' %}

{% block title %}Administrer le vélo{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Vélo</h1>
    <h3><a href="{{ path('app_bike_index') }}">retour à l'administration des vélos</a></h3>
    <h5><a href="{{ path('app_bike_edit', {'id': bike.id}) }}">modifier le vélo</a></h5>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ bike.id }}</td>
            </tr> #}
            <tr>
                <th>Statut</th>
                <td>{{ bike.status ? 'Activé' : 'Désactivé' }}</td>
            </tr>
            {# <tr>
                <th>Lat</th>
                <td>{{ bike.lat }}</td>
            </tr> #}
            {# <tr>
                <th>Lng</th>
                <td>{{ bike.lng }}</td>
            </tr> #}
            {# <tr>
                <th>Reference</th>
                <td>{{ bike.reference }}</td>
            </tr> #}
            <tr>
                <th>N° vélo</th>
                <td>{{ bike.number }}</td>
            </tr>
            <tr>
                <th>Etat général</th>
                <td>{{ bike.rate }}</td>
            </tr>
            {% if bike.purchasedAt%}
            <tr>
                <th>PurchasedAt</th>
                <td>{{ bike.purchasedAt ? bike.purchasedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% endif %}
            {# <tr>
                <th>Slug</th>
                <td>{{ bike.slug }}</td>
            </tr> #}
            <tr>
                <th>Date de création</th>
                <td>{{ bike.createdAt ? bike.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ bike.updatedAt ? bike.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% if bike.mainPicture %}
            <tr>
                <th>Image pricipale</th>
                <td>{{ bike.mainPicture }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {{ include('bike/_delete_form.html.twig') }}
</div>
{% endblock %}
