{% extends 'base.html.twig' %}

{% block title %}Fiche vélo {{ bike.number }}{% endblock %}
{% block body %}

<div class="container"> 
    <h1>Fiche Vélo - N° Tempo {{ bike.number }}</h1>
    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ bike.id }}</td>
            </tr> #}
            <tr>
                <th>Statut de gestion</th>
                <td>{{ bike.status ? 'En gestion' : 'Archivé' }}</td>
            </tr>
             <tr>
                <th>Disponibilité sur station</th>
                <td>{{ bike.availablity ? bike.availablity : 'Non renseigné !' }}</td>
            </tr>
            <tr>
            {% for inventory in bike.inventories %}
                <th>Station du derniere <a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">inventaire</a></th>
                        {% if loop.last %}
                        <td><a href="{{ path('app_station_show', {'id': inventory.station.id}) }}">{{ inventory.station.name }}</a></td>
                        {% endif %}
                    {% else %}
                <td>Non inventorié</td>
                {% endfor %}
            </tr>
            {# <tr>
                <th>Lat</th>
                <td>{{ bike.lat }}</td>
            </tr> #}
            {# <tr>
                <th>Lng</th>
                <td>{{ bike.lng }}</td>
            </tr> #}
            {# <tr>
                <th>Reference</th>
                <td>{{ bike.reference }}</td>
            </tr> #}
            <tr>
                <th>N° Tempo</th>
                <td>{{ bike.number }}</td>
            </tr>
            <tr>
                <th>Etat général</th>
                <td>{{ bike.rate }}</td>
            </tr>
            {% if bike.purchasedAt%}
            <tr>
                <th>PurchasedAt</th>
                <td>{{ bike.purchasedAt ? bike.purchasedAt|date("d/m/Y") : '' }}</td>
            </tr>
            {% endif %}
            {# <tr>
                <th>Slug</th>
                <td>{{ bike.slug }}</td>
            </tr> #}
            <tr>
                <th>Date de création</th>
                <td>{{ bike.createdAt ? bike.createdAt|date("d/m/Y") : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ bike.updatedAt ? bike.updatedAt|date("d/m/Y") : '' }}</td>
            </tr>
            {% if bike.mainPicture %}
            <tr>
                <th>Image pricipale</th>
                <td>{{ bike.mainPicture }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ path('app_bike_edit', {'id': bike.id}) }}"><button class="btn btn-lg btn-success" type="submit">modifier le vélo</button></a>
   <a href="{{ path('app_bike_index') }}"><button class="btn btn-lg btn-primary" type="submit">retour à la liste des vélos</button></a>
    {{ include('bike/_delete_form.html.twig') }}
</div>
{% endblock %}
