{% extends 'base.html.twig' %}
{% block title %}Admin Stations{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Administration des stations</h1>
    <h5>liste l'ensemble des stations</h5>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Statut</th>
                <th>Numéro Tempo</th>
                {# <th>Reference</th> #}
                <th>Nom Tempo</th>
                {# <th>Address</th> #}
                {# <th>Zip</th> #}
                <th>Ville</th>
                {# <th>Lat</th> #}
                {# <th>Lng</th> #}
                {# <th>Slug</th> #}
                {# <th>CreatedAt</th> #}
                {# <th>UpdatedAt</th> #}
                {# <th>MainPicture</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                {# <td>{{ station.id }}</td> #}
                <td>{{ station.status ? 'Active' : 'Inactive' }}</td>
                <td>{{ station.number }}</td>
                {# <td>{{ station.reference }}</td> #}
                <td>{{ station.name }}</td>
                {# <td>{{ station.address }}</td> #}
                {# <td>{{ station.zip }}</td> #}
                <td>{{ station.city }}</td>
                {# <td>{{ station.lat }}</td> #}
                {# <td>{{ station.lng }}</td> #}
                {# <td>{{ station.slug }}</td> #}
                {# <td>{{ station.createdAt ? station.createdAt|date("d/m/Y") : '' }}</td> #}
                {# <td>{{ station.updatedAt ? station.updatedAt|date("d/m/Y") : '' }}</td> #}
                {# <td>{{ station.mainPicture }}</td> #}
                <td>
                    <a href="{{ path('app_station_show', {'id': station.id}) }}">Afficher</a>
                    <div class="vr"></div>
                    <a href="{{ path('app_station_edit', {'id': station.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
             <tr>
                <td colspan="19"><div class="alert alert-danger" role="alert">
                Pas d'enregistrement de station en Base de Données !
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_station_new') }}"><button class="btn btn-lg btn-primary" type="submit">Créer une nouvelle station</button></a>
</div>
{% endblock %}
