{% extends 'base.html.twig' %}
{% block title %}Fiche station {{ station.name }}{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Fiche Station - {{ station.name }}</h1>
    {% if station.mainPicture %}
    {# <img src = "{{ asset('uploads/main_pictures/' ~ station.mainPicture) }}" style="width: 100%; height: 400px; object-fit: cover" alt="photographie de la station montrant les vélos de la {{ station.name }} d'{{ station.city }} "> #}
   <img src = "{{ station.mainPicture }}" style="width: 100%; object-fit: cover" alt="photographie de la station montrant les vélos">
    <hr>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Statut</th>
                <td>{{ station.status ? 'Activé' : 'Désactivé' }}</td>
            </tr>
            <tr>
                <th>Numéro Tempo</th>
                <td>N° {{ station.number }}</td>
            </tr>
                <th>Nom Tempo</th>
                <td>{{ station.name }}</td>
            </tr>
            <tr>
                <th>Ref Agnelis</th>
                <td>{{ station.reference }}</td>
            </tr>
            <tr>
                <th>Nombre de bornes vélo</th>
                <td>{{ station.capacity }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ station.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ station.zip }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ station.city }}</td>
            </tr>
            <tr>
                <th>Station mise à jour le</th>
                <td>{{ station.updatedAt ? station.updatedAt|date("d/m/Y") : '' }}</td>
            </tr>
        </tbody>
    </table>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href="{{ path('app_station_edit', {'id': station.id}) }}"><button class="btn btn-lg btn-success" type="submit">modifier la station</button></a>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href="{{ path('app_station_index') }}"><button class="btn btn-lg btn-primary" type="submit">retour à la liste des stations</button></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        {{ include('station/_delete_form.html.twig') }}
    </div>
</div><!-- end row -->


<div class="container"> 
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2><a href="{{ path('app_inventory_index') }}">{{ station.inventories|length }} &#124; Inventaires</a> associés à la station - {{ station.name }}</h2>
            <ol>
                {% for inventories in station.inventories %}
                {% if inventories is defined %}
                <li><a href="{{ path('app_inventory_show', {'id': inventories.id}) }}">Inventaire N° {{ inventories.id }} du {{ inventories.createdAt |date("d/m/Y à H:m") }}</a></li>
                <hr>
                {% endif %}
                {% else %}
                <ul>
                    <li class='mb-2'>Aucun inventaire</li>
                </ul>
                {% endfor %}
            </ol>
    </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2><a href="{{ path('app_vandalism_index') }}">{{ station.vandalisms|length }} &#124; Vandalismes</a> associées à la station - N°{{ station.name }}</h2>
            <ol>
                {% for vandalism in station.vandalisms %}
                {% if vandalism is defined %}
                <li><a href="{{ path('app_vandalism_show', {'id': vandalism.id}) }}">Le {{ vandalism.createdAt |date("d/m/Y") }} &#124; {{ vandalism.content |slice(0, 30) }} ...</a></li>
                <hr>
                {% endif %}
                {% else %}
                <ul>
                    <li class='mb-2'>Aucun vandalime déclarée</li>
                </ul>
                {% endfor %}
            </ol>
         </div>
    </div>
</div>

{% endblock %}
