{% extends 'base.html.twig' %}
{% block title %}Administrer l'utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1>Utilisateur</h1>
    <h3><a href="{{ path('app_user_index') }}">retour à l'administration des utilisateur</a></h3>
    <h5><a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier l'utilisateur</a></h5>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>Entreprise</th>
                <td>{{ user.company }}</td>
            </tr>
            <tr>
                <th>Poste occupé</th>
                <td>{{ user.job }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ user.zip }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.phone }}</td>
            </tr>
            {# <tr>
                <th>Slug</th>
                <td>{{ user.slug }}</td>
            </tr> #}
            <tr>
                <th>Statut</th>
                <td>{{ user.status ? 'Actvé' : 'Désactivé' }}</td>
            </tr>
            <tr>
                <th>Mail vérifié</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Rôles sur l'application</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {% if user.mainPicture %}
            <tr>
                <th>Image pricipale</th>
                <td>{{ user.mainPicture }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
